# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Environnements virtuels
.venv/
env/
venv/
ENV/

# PyInstaller / Build
build/
dist/
*.spec

# Tests & IDE
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/

# Logs & temp
*.log
scratch/
tmp/
